#root{
  background-color: #a5d1ca;
  margin: 0;
  padding: 20px;
  color: rgb(94, 93, 93);
  text-align: center;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.user-awatar{
  width: 200px;
}

.panDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.pasekWyswietlany{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
}

.test1{
  border: 1px solid white;
  border-radius: 15px;
  width: 100px;
  height: 200px;
  margin: 8px;
}

.serce-placeholder{
  width: 100px;
  margin-top: 10px;
}